CONFIG_ARM64_FLUSH_CONSOLE_ON_RESTART=y
CONFIG_BUILD_ARM64_DT_OVERLAY=y
# CONFIG_DEBUG_MEMORY_INIT is not set
# CONFIG_DEBUG_MISC is not set
# CONFIG_DEBUG_STACK_USAGE is not set
# CONFIG_DYNAMIC_DEBUG_CORE is not set
# CONFIG_EDAC_KRYO_ARM64_PANIC_ON_UE is not set
CONFIG_EXFAT_FS=y
CONFIG_FP_EC617=m
CONFIG_HAPTIC_NV=m
CONFIG_HQHARDWARE_INFO=y
CONFIG_LEDS_AW2016=m
CONFIG_LEDS_HAPTICS=y
# CONFIG_LEDS_TRIGGER_TIMER is not set
CONFIG_LOG_BUF_SHIFT=20
CONFIG_NFC=y
# CONFIG_NFC_QTI_I2C is not set
CONFIG_QCA_CLD_WLAN=m
# CONFIG_SERIAL_8250_CONSOLE is not set
# CONFIG_SERIAL_AMBA_PL011_CONSOLE is not set
CONFIG_SERIAL_MSM_GENI_CONSOLE=y
CONFIG_SERIAL_MSM_GENI_EARLY_CONSOLE=y
# CONFIG_SERIAL_SAMSUNG_CONSOLE is not set
# CONFIG_SERIAL_SPRD_CONSOLE is not set
CONFIG_SOMC_CHARGER_EXTENSION=y
CONFIG_SONY_EXT_UIM_CTRL=y
CONFIG_TOUCHSCREEN_FTS=m
# CONFIG_TOUCHSCREEN_NT36XXX is not set
CONFIG_TOUCHSCREEN_SEC_TS=m
# CONFIG_TOUCHSCREEN_SYNAPTICS_DSX is not set
# CONFIG_TOUCHSCREEN_SYNAPTICS_TCM is not set
CONFIG_TZ_LAST_LOGS=y
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_LEDS_HAPTICS_DRV2624_RAM=y
# CONFIG_NFC_DIGITAL is not set
# CONFIG_NFC_HCI is not set
# CONFIG_NFC_NCI is not set
# CONFIG_NFC_PN533_I2C is not set
# CONFIG_NFC_PN533_USB is not set
# CONFIG_NFC_SN1X0_DEVICES is not set
# CONFIG_NFC_SN2X0_DEVICES is not set
CONFIG_NFC_SNX0_DEVICES=m
CONFIG_NXP_P73_DEVICES=m
CONFIG_QCA_CLD_WLAN_PROFILE="default"
